body {
  background-image: url("https://salamdonya.com/assets/images/94/94581lfv3.png");

  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;

}
.container {
  margin: auto;
  text-align: center;

}
.strike {
  text-decoration: line-through;
}
.form-container {
  font-size: 20px;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 500px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
}


.add-btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.input-box {
  border-radius: 10px;
  padding: 5px;
  width: 250px;
  height: 30px;
}

.add-task {
  display: grid;
}